@import url(CSS/inicio/inicio-style.css);
@import url(CSS/components_style/cards.css);
@import url(CSS/components_style/listas.css);
@import url(CSS/components_style/acordeon.css);
@import url(CSS/components_style/menu-horizontal.css);
@import url(CSS/components_style/input-texto.css);
@import url(CSS/components_style/badge-notificacion.css);
@import url(CSS/components_style/alerta.css);
@import url(CSS/components_style/tablas.css);
@import url(CSS/components_style/paginacion.css);
@import url(CSS/components_style/menu-desplegable.css);
@import url(CSS/page-pagination/page-pagination.css);
@import url(CSS/variables/custom_propierties.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--fondo-principal);
}
