.boton {
    display: flex;
    /*align-items: center;
    justify-content: center; */
    position: absolute;
    top: 50%;
    left: 42%;
}

.boton__ingresar {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--azul-turquesa);
    text-decoration: none;
    border-radius: 20px;
    color: var(--blanco);
    border: 2px solid var(--negro-translúcido);
    box-shadow: 0px 0px 5px var(--negro);
    font-weight: var(--negrilla);
}

.boton__ingresar:hover{
    background-color: var(--azul-oceano-transparente);
}


.informacion {
    padding-top: 100px;
    height: 100px;
    margin-top: 10px;
    text-align: center;
    filter: drop-shadow(0 0 2px var(--negro));
}

.informacion__texto{
    line-height: 25px;
}