.acordeon {
    width: 600px;
    margin: 30px auto;
    border: 1px solid var(--fondo_gris);
}

.acordeon__titulo {
    padding: 10px;
    border: 1px solid var(--fondo_gris);
    cursor: pointer;
}

.acordeon__contenido {
    padding: 5px 10px;
    background-color: var(--fondo_gris2);
}


/*--------------------------------------------*/

.acordeon--angosto {
    width: 400px;
}

.acordeon__titulo--hover-gris-sombra:hover {
    background-color: var(--fondo_modifier1);
    box-shadow: 0 0 5px var(--negro);
    transition: var(--duracion_05);
}

/*---------------------------------------------*/


.acordeon--rojo-borde {
    background-color: var(--fondo_beige3);
    border-color: var(--marron1);
}

.acordeon__titulo--borde-rojo {
    border-color: var(--marron2);
}

.acordeon__contenido--fondo-rojoclaro {
    background-color: var(--marron2);
}

/*-----------------------------------------------*/

.acordeon--azulclaro-hover-sombra {
    background-color: var(--fondo_verde1);
}

.acordeon--azulclaro-hover:hover {
    box-shadow: 0 0 5px var(--negro);
    transition: var(--duracion_05);
}

.acordeon__titulo--blanco-hover-oscuro:hover {
    background-color: var(--fondo_verde2);
    color: var(--blanco);
    transition: var(--duracion_05);
}

.acordeon__contenido--fondo-beige {
    background-color: var(--fondo_beige4);
    text-align: justify;
}

/*-----------------------------------------------------*/

.acordeon--mostaza {
    background-color: var(--fondo-amarillo1);
}

.acordeon__titulo--hover-mostaza-oscuro:hover {
    background-color: var(--fondo-amarillo2);
    transition: var(--duracion_05);
}

.acordeon__contenido--amarillo {
    background-color: var(--fondo-amarillo3);
    text-align: var(--centro);
}

.acordeon__tira--open-oscuro[open] .acordeon__titulo--hover-mostaza-oscuro {
    background-color: var(--fondo-amarillo2);

}