:root {
  --negro: #000;
  --blanco: #fff;
  --fondo-principal: #f5f5dc;
  --azul-turquesa: #39a4b2;
  --negro-translúcido: #0000006d;
  --azul-oceano-transparente: #1e6779d0;
  
  /*-----------------paginacion de la pagina------------------*/
  --negro-suave-transparente: #00000035;
  --gris-plomo-transparente: #404040c8;
  --gris-oscuro-translucido: #26262653;



  /*-----------------componente 1------------------*/
  --negro-claro: #0000009d;
  --gris-transparentoso: #0000003d;


  /*-----------------componente 2------------------*/
  --verde-oscuro-suave: #0099006c;
  --purpura-suave-transparente: #892be289;
  --purpura-suave: #892be2;
  --verde-esmeralda-suave: #1ed1aa89;
  --rojo-vivo-transparente: #f0152089;
  --rojo-intenso-transparente: #ec032289;
  --beige-natural: #deb887;
  --marron-terroso: #9e7945e6;
  --sombra-marron-oscuro: #464545ce;


  /*-----------------componente 3------------------*/
  --gris-neutro: #ccc;
  --gris-palido-transparente: #e0e0e0d7;
  --gris-medio-transparente: #787878a3;
  --beige-suave: #ffe4c4;
  --rojo-terroso-transparente: #ec4343a3;
  --rojo-anaranjado-transparente: #f7664da3;
  --verde-agua-transparente: #23bcbc84;
  --verde-turquesa-suave: #1a727284;
  --azul-cielo-palido: #f0f8ff;
  --amarillo-dorado: #dfb343;
  --amarillo-terroso: #b28f37;
  --amarillo-pastel: #f4fca7;

  /*-----------------componente 4------------------*/
  --gris-profundidad: #333;
  --verde-menta-oscuro: #305e5e;
  --beige-clasico: #f5f5dc;
  --marron-cafe: #563f27;
  --marron-caramelo: #674622;
  --mostaza-brillante: #fcc03e;
  --gris-plomo: #656565;
  --gris-humo: #8e8e8e;

  /*-----------------componente 5------------------*/
  --gris-oscuro-transparente: #2a2929bf;
  --gris-claro-transparente: #d6d6d65a;
  --azul-profundo: #2a0fb1;
  --gris-neutro-transparente: #a7a7a75a;
  --rosa-pastel-transparente: #ee9f9f79;
  --verde-vivo: #3db12e;

  /*-----------------componente 6------------------*/
  --rojo-puro: #ff0000;

  
  /*-----------------componente 7------------------*/
  --rojo-oscuro: #7d2525f6;
  --beige-clarisimo: #ffd7ac;
  --naranja-brillante: #ff9800;
  --marron-oscuro: #663c00;
  --azul-brillante: #008cff;
  --azul-marino: #0d3c61;
  --verde-intenso: #4caf50;
  --verde-primavera: #61b264;
  --verde-menta-suave: #c6ffc8;
  --verde-neon: #00b700;
  --verde-bosque: #008000;

  /*-----------------componente 8------------------*/
  --aguamarina: #7fffd4;
  --amarillo-dorado-suave: #fbe56a;
  --gris-metalizado: #c2c2c2;
  --verde-limon: #90f08b;
  --verde-oliva: #5b9658;
  --verde-menta-claro: #b2e6af;

  /*-----------------componente 9------------------*/
  --gris-carbon: #403f3f;
  --gris-clasico: #808080;
  --azul-electrico: #2d85ff;

  /*-----------------componente 10------------------*/
  --gris-oxidado: #403f3f; /* Gris oxidado */
  --naranja-melocoton: #f7a971; /* Naranja melocotón */
  --verde-neon-palido: #6cffce; /* Verde neón pálido */

}