.acordeon {
    width: 600px;
    margin: 30px auto;
    border: 1px solid var(--gris-neutro);
}

.acordeon__titulo {
    padding: 10px;
    border: 1px solid var(--gris-neutro);
    cursor: pointer;
}

.acordeon__contenido {
    padding: 5px 10px;
    background-color: var(--gris-palido-transparente);
}


/*--------------------------------------------*/

.acordeon--angosto {
    width: 400px;
}

.acordeon__titulo--hover-gris-sombra:hover {
    background-color: var(--gris-medio-transparente);
    box-shadow: 0 0 5px var(--negro);
    transition: 0.5s;
}

/*---------------------------------------------*/


.acordeon--rojo-borde {
    background-color: var(--beige-suave);
    border-color: var(--rojo-terroso-transparente);
}

.acordeon__titulo--borde-rojo {
    border-color: var(--rojo-anaranjado-transparente);
}

.acordeon__contenido--fondo-rojoclaro {
    background-color: var(--rojo-anaranjado-transparente);
}

/*-----------------------------------------------*/

.acordeon--azulclaro-hover-sombra {
    background-color: var(--verde-agua-transparente);
}

.acordeon--azulclaro-hover:hover {
    box-shadow: 0 0 5px var(--negro);
    transition: 0.5s;
}

.acordeon__titulo--blanco-hover-oscuro:hover {
    background-color: var(--verde-turquesa-suave);
    color: var(--blanco);
    transition: 0.5s;
}

.acordeon__contenido--fondo-beige {
    background-color: var(--azul-cielo-palido);
    text-align: justify;
}

/*-----------------------------------------------------*/

.acordeon--mostaza {
    background-color: var(--amarillo-dorado);
}

.acordeon__titulo--hover-mostaza-oscuro:hover {
    background-color: var(--amarillo-terroso);
    transition: 0.5s;
}

.acordeon__contenido--amarillo {
    background-color: var(--amarillo-pastel);
    text-align: var(--centro);
}

.acordeon__tira--open-oscuro[open] .acordeon__titulo--hover-mostaza-oscuro {
    background-color: var(--amarillo-terroso);

}