.alerta {
    margin: 20px auto;
    width: 500px;
    height: 50px;
    padding: 15px;
    background-color: var(--rosa-pastel-transparente);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.alerta__icono {
    color: var(--rojo-puro);
    font-size: 22px;
    margin-right: 15px;
}

.alerta__texto {
    color: var(--rojo-oscuro);
    height: 100%;
    width: 100%;
}



.alerta--naranja {
    background-color: var(--beige-clarisimo);
}

.alerta__icono--naranja {
    color: var(--naranja-brillante);
}

.alerta__texto--tono-marron {
    color: var(--marron-oscuro);
}



.alerta--blanca-borde-azul {
    background-color: var(--blanco);
    border: 1px solid var(--azul-brillante);
}

.alerta__icono--azul {
    color: var(--azul-brillante);
}

.alerta__texto--azul {
    color: var(--azul-marino);
}


.alerta--verde-hover-sombra-verdeclaro {
    background-color: var(--verde-intenso);
}

.alerta--verde-hover-sombra-verdeclaro:hover {
    box-shadow: 0 0 5px var(--verde-primavera);
    transition: 0.3s;
}

.alerta__icono--blanco {
    color: var(--blanco);
}

.alerta__texto--blanco {
    color: var(--blanco);
}


.alerta--verde-claro {
    background-color: var(--verde-menta-suave);
}

.alerta__icono--verde {
    color: var(--verde-bosque);
}

.alerta__texto--verde {
    color: var(--verde-neon);
}

.alerta__icono--cerrar-verde-derecha {
    color: var(--verde-bosque);
    cursor: pointer;
}

.alerta__icono--cerrar-verde-derecha:hover {
    font-size: 27px;
    transition: 0.3s;
}