.notificacion {
    width: 70px;
    height: 70px;
    background-color: var(--azul-profundo);
    border: 3px solid var(--blanco);
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.notificacion__icono{
    color: var(--blanco);
    font-size: 30px;
    
}

.notificacion__badge{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--blanco);
    background-color: var(--rojo-puro);
    position: absolute;
    right: -10px;
    top: -10px;
    color: var(--blanco);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}



.notificacion--hover-oscuro:hover {
    background-color: var(--azul-profundo);
    transition: 0.5s ease-in-out;
}


.notificacion--hover-sombra-agrandar:hover{
    width: 73px;
    height: 73px;
    box-shadow: 0 0 5px var(--negro);
    transition: 0.3s ease-in-out;
}


.notificacion--color-invertido-bordeazul{
    background-color: var(--blanco);
    border: 3px solid var(--azul-profundo);
}

.notificacion__icono--azul{
    color: var(--azul-profundo);
}

.notificacion__badge--gris{
    background-color: var(--gris-profundidad);
}



.notificacion--circular-verdeoscuro{
    border-radius: 50%;
    background-color: var(--verde-vivo);
}


/*Media hora para darme cuenta que debia indicar que al hacer hover en el contenedor
el badge tambien tuviera efecto. Dios mío, estaba haciendo todo sin el (.notificacion:hover)*/
.notificacion--hover-bordegris-transicion:hover,
.notificacion:hover .notificacion__badge--hover-bordegris-transicion{
    border: 3px solid var(--gris-profundidad);
    transition: 0.6s ease-in;
}

