.lista {
    display: block;
    width: 250px;
    margin: 20px auto;
    background-color: var(--verde-oscuro-suave);
    border-radius: 10px;
}

.lista__item {
    padding: 10px;
    list-style: none;
    cursor: pointer;
    border: 1px solid var(--negro);
}

.lista__item:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lista__item:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*--------------------------------------------*/

.lista--morada {
    background-color: var(--purpura-suave-transparente);
}

.lista__item--hover-morado-oscuro:hover {
    background-color: var(--purpura-suave);
}

/*--------------------------------------------*/

.lista--turquesa {
    background-color: var(--verde-esmeralda-suave);
}

.lista__item--borde-blanco {
    border-color: var(--blanco);
}

/*--------------------------------------------*/

.lista--blanca-txt-centro {
    background-color: var(--blanco);
    text-align: center;
}

.lista__item--borde-abajo {
    border: none;
    border-bottom: 1px solid var(--negro);
}

.lista__item--no-borde {
    border: none;
}

/*--------------------------------------------*/

.lista--marron-sombra {
    background-color: var(--beige-natural);
    box-shadow: 0 0 5px var(--negro);
}

.lista__item--hover-oscuro-txtblanco:hover  {
    background-color: var(--marron-terroso);
    color: var(--blanco);
    filter: drop-shadow(0 0 10px var(--sombra-marron-oscuro));
}