.menu {
    background-color: var(--gris-profundidad);
    color: var(--blanco);
    width: 490px;
    margin: 10px auto;
    text-align: center;
}

.menu__opcion {
    display: inline-block;
    margin-right: 0;
}

.menu__enlace {
    text-decoration: none;
    padding: 20px;
    display: block;
    color: var(--blanco);
}

/*------------------------------------------------------*/

.menu--azulado {
    background-color: var(--verde-menta-oscuro);
}

.menu__enlace--blanco-underline {
    font-size: 16px;
}

.menu__enlace--blanco-underline:hover {
    font-weight: bold;
    text-decoration: underline;
}


/*--------------------------------------------------------*/
.menu--no-fondo {
    background-color: var(--beige-clasico);
}

.menu__enlace--sombra{
    filter: drop-shadow(0 0 5px var(--negro));
}

.menu__opcion--hover-negro:hover {
    background-color: var(--negro);
    filter: drop-shadow(0 0 3px var(--negro));
}


/*--------------------------------------------------------*/

.menu--marron-redondeado {
    background-color: var(--marron-cafe);
    border-radius: 10px;
}

.menu__enlace--hover-negrilla:hover, .menu__opcion--hover-sombra:hover {
    font-weight: bold;
    background-color: var(--marron-caramelo);
    filter: drop-shadow(0 0 3px var(--negro));
    border-radius: 10px;
    transition: 0.5s;
}


/*-------------------------------------------------------*/
.menu--gris-rd {
    background-color: var(--gris-plomo);
    border-radius: 10px;
}

.menu__opcion--activo-amarillo {
    background-color: var(--mostaza-brillante);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    filter: drop-shadow(0 0 2px var(--negro));
}

.menu__opcion--hover-grisclaro:hover {
    background-color: var(--gris-humo);
    color: var(--blanco);
    filter: drop-shadow(0 0 2px var(--negro));
}

.menu__opcion--hover-redondo-derecha:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}