.tabla-frutas {
    margin: 10px auto;
    width: 400px;
    height: 120px;
    border-collapse: collapse;
    cursor: pointer;
}

.tabla-frutas__celda {
    border: 1.5px solid var(--negro);
}



.tabla-frutas--celeste {
    background-color: var(--aguamarina);
}

.tabla-frutas__celda--borde-blanco {
    border-color: var(--blanco);
}



.tabla-frutas--amarilla{
    background-color: var(--amarillo-dorado-suave);
}

.tabla-frutas--hover-sombra:hover {
    box-shadow: 0 0 5px var(--negro);
    transition: 0.3s;
}

.tabla-frutas__celda--texto-centrado {
    text-align: center;
}


.tabla-frutas--gris {
    background-color: var(--gris-metalizado);
}

.tabla-frutas__celda--hover-negro-texto-blanco-centrado:hover {
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    transition: ease-in-out 0.5s;
}



.tabla-frutas--grande-verde {
    width: 500px;
    height: 150px;
    background-color: var(--verde-limon);
}

.tabla-frutas__celda--hover-sombra-texto:hover {
    filter: drop-shadow(0 0 2px var(--negro));
}

.tabla-frutas__cabezera--verde-oscuro {
    background-color: var(--verde-oliva);
}

.tabla-frutas__pie--verde-claro {
    background-color: var(--verde-menta-claro);
}